@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothaProLig.otf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothaProReg.otf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothaProMed.otf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothaProNarBol.otf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothaProBol.otf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothaProBla.otf') format("truetype");
    font-weight: 900;
}